/*
  How to read this file:

  This file is used to generate 3 C++ language files -  "switches.C",
  "senders.C", and "receivers.C".  Not all of the information contained
  here is needed in every case.

  Switches are functions which are linked in with the user's code, and
  have the same names as the system call they are intended to invoke.
  The switch will determine whether the call should be done locally or
  remotely, and will invoke an appropriate mechanism to accomplish
  that.  In the case of local execution, that will most often be the
  syscall() routine.  In the case of remote calls, that will always be
  the REMOTE_syscall() routine.  The syscall() routine is generally
  provided in the C library, and REMOTE_syscall() is provided by
  Condor.  More on this in the next paragraph...

  Senders are the part of the code which packages up the arguments of a
  system call, sends them to the shadow for remote execution, and then
  package up the results so it looks to the calling routine as though
  the normal system call were done.  The REMOTE_syscall() routine is
  organized as a giant switch() statement, with one "case" for each
  system call.  Each case is called a "sender".

  Receivers are the part of the code which runs on the submitting
  machine that matches with the sender.  The receiver reads all the
  arguments to the system call, performs the call, then sends back the
  results.  We plan to eventually generate the recievers from this
  template file, but the current code doesn't do it.

  The general format of this file is a function prototype for every
  system call.  Those give the system call return type, the name, and
  the names and types of each of the system call arguments.  The system
  call prototypes have been augmented with other information needed to
  generate correct switches, senders, and receivers.  Each type of
  augmenting information is described here:

  : extract
	  Some system calls cannot be successfully executed by the syscall()
	  routine.  This is generally becuase syscall() expects that every
	  system call will pass its return value through register 0.  A few
	  system calls like getuid() will actually return 2 values, the
	  real uid in register 0, and the effective uid in register 1.  In
	  that case, there is no system call geteuid() - that information is
	  gotten as a side effect of the getuid() system call.  For this
	  reason geteuid() doesn't work with syscall().  In such a case
	  another means must be found to execute the offending system call.
	  We extract from the C library a copy of whatever the normal system
	  call stub is, and change the name by making it all upper case.
	  For example geteuid() becomes GETEUID().  The switch generator must
	  know that geteuid() has to be handled specially in the local case,
	  which is the meaning of "extract".

  : dl_extract
	  This is similar to extract above except it uses dlopen() and
	  dlsym() to find the appropriate versions of the calls in
	  /usr/lib/libc.so.

  : no_sys_chk
	  By default, a test for defined(SYS_name) is wrapped around
	  all non-pseudo calls in senders and receivers.  If a call is
	  marked with no_sys_chk, this test is omitted.  This is useful
	  for calls which are not system calls on a specific platform
	  but must still be supported by remote system calls for
	  cross platform interoperability.

  in code_bytes_bool( buf, len );
	  A statement like this appears with the prototype for the
	  write() system call.  Note that the parameter "buf" is a
	  pointer to void, and it is not immediately obvious whether
	  data should be sent to the remote system call receiver,
	  whether data should be sent back, or both.  Also, "buf" tells
	  us where the data starts, but it is not obvious (from the
	  syntax), how much data should be sent.  This statement tells
	  us that data should be sent to the remote system call
	  receiver by the keyword "in".  If you think of the system
	  call as simply a function, then "buf" is an "in" parameter to
	  the write() function.  "code_bytes( buf, len )" is the
	  routine and arguments which should be used to transfer
	  the data.  A similar statement appears with the prototype for
	  read(), but in this case the keyword "out" indicates that
	  (from the point of view of the read() system call), "buf" is
	  an out parameter, i.e. data must be sent from the system call
	  receiver to the sender.  In cases where data needs to travel
	  in both directions, both an "in" and an "out" statement would
	  appear.

	  NOTE: we need to use code_bytes_bool() here to get the
	  assert-safe functionality we want: 0 on failure, 1 on
	  success.  code_bytes() itself just returns the number of
	  bytes read or written, and -1 on failure. 

	** NEW OPTIONS **

	: map
		A special flag placed after a prototype to indicate that the
		call should be directed through file_state.C when
		MappingFileDescriptors() is in effect.  Both the checkpointing
 		and remote syscall library use this feature.

	: map_name( id )

		This allows you to select a different map name
		to use in the open file table.  Example:
			int fdsync() : map_name(fsync)
		This switch will call FileTab->fsync() when
		necessary, but otherwise uses SYS_fdsync.

	: local_name( id )

		This allows you to select a different local
		system call to use.  Example:
			int fstat() : local_name(prev_fstat)
		This switch will call SYS_prev_fstat locally,
		and CONDOR_fstat remotely.

	: remote_name( id )

		This allows you to select a different remote
		system call name to use.  Example:
			int lockf() : remote_name(flock)
		This switch will use SYS_lockf locally,
		and CONDOR_flock remotely.

	discard( parameter )

		This will throw out the given parameter
		when performing a remote system call.
		See _xstat for an example.

  Some system calls simply must be handled specially.  Examples
  are readv, and getlogin. This "specialness" dosen't necessarily
  span all three pieces of code we want to generate.
  We would therefore like to include a prototype for
  each special call, but we must somehow tell the switch generator that it
  should only generate a sender and receiver.  We solve the problem
  by running this file through the C preprocessor (cpp) before
  processing it.  The switch generator will ensure that the macro
  SWITCH is defined, the sender generator will instead define the
  macro SENDER, and similarly the reveiver generator will define
  the macro RECEIVER.  We then use cpp conditional statements to
  ensure that each generator sees only the prototypes for which it
  should generate code.
*/

#define SEND_PATH(name) in code(name)
#define GET_PATH(name) out code(name)
#define ALLOC_PATH(name) alloc(name,_POSIX_PATH_MAX)

/* Decide if we want to use dlopen for extracting or not. */
#if defined( DL_EXTRACT )
#   define EXTRACT dl_extract
#else
#   define EXTRACT extract
#endif

	int open( const char *path, int flags, ... ) : map
	{
		SEND_PATH( path );
		ALLOC_PATH( path );
	}

	int open64( const char *path, int flags, ... ) : map, map_name(open), remote_name(open);
	
	int fcntl( int fd, int cmd, ... ) : map;

	#if defined(LINUX) && defined(GLIBC)
		int ioctl( int fd, unsigned long cmd, ... ) : map;
	#else
		int ioctl( int fd, int cmd, ... ) : map;
	#endif

	int close( int fd ) : map;
	int dup( int old_fd ) : map;
	int dup2( int old_fd, int new_fd ) : map;

	off_t lseek( int fd, off_t offset, int whence ) : map; 

	ssize_t read( int fd, void *buf, size_t len ) : map {
		out code_bytes_bool( buf, len );
		alloc( buf, len );
	}
	
        ssize_t write( int fd, const void *buf, size_t len ) : map {
		in code_bytes_bool( buf, len );
		alloc( buf, len );
	}

	int fchown( int fd, uid_t owner, gid_t group ) : map ;
	int fchmod( int fd, mode_t mode ) : map ;
	int fchdir( int fd ) : map ;

	#if 0
		#if HAS_64BIT_SYSCALLS
			#if defined(Solaris26)

				offset_t llseek( int fd, offset_t offset, int whence ) : map ;
				off64_t	lseek64( int fd, off64_t offset, int whence ) : map, extract;

			#else

				off64_t	lseek64( int fd, off64_t offset, int whence ) : map ;

			#endif /* Solaris 2.6 */

			int fstat64( int fd, struct stat64 *buf ) : map {
				out code( buf );
				alloc( buf, STAT64_SIZE );
			}

			#if !defined(HPUX)	/* There is no getdents64 on HPUX 10.20 */
				int getdents64( int fd, struct dirent64 *buf, size_t nbytes ) : map {
					out code_bytes_bool( buf, nbytes );
					alloc( buf, nbytes );
			}
			#endif /* HPUX */

		#endif /* HAS_64BIT_SYSCALLS */

	#endif

	/* Linux, Irix, and Solaris need these switches to redirect
	   these calls to fstat, lstat, and xstat.  Other platforms
	   take the regular switches, and everyone needs senders
	   and receivers. */

	#if defined(SWITCH)&&(defined(LINUX)||defined(IRIX)||defined(Solaris))

		#if defined(LINUX) || defined(IRIX53)
			int fxstat( discard(int version), int fd, struct stat *buf ) : remote_name(fstat), map_name(fstat), map;
			int lxstat( discard(int version), char *path, struct stat *buf ) : remote_name(lstat);
			int xstat( discard(int version), char *path, struct stat *buf ) : remote_name(stat);
			int xmknod( discard(int version), char *path, mode_t mode, dev_t device ) : remote_name(mknod);
		#else
			int fxstat( discard(const int version), int fd, struct stat *buf ) : remote_name(fstat), map_name(fstat), map;
			int lxstat( discard(const int version), const char *path, struct stat *buf ) : remote_name(lstat);
			int xstat( discard(const int version), const char *path, struct stat *buf ) : remote_name(stat);
			int xmknod( discard(const int version), const char *path, mode_t mode, dev_t device ) : remote_name(mknod);
		#endif

	#else 
		int fstat( int fd, struct stat *buf ) : map
		{
			out code( buf );
			alloc( buf, STAT_SIZE );
		}

 		int lstat( const char *path, struct stat *buf )
		{
			SEND_PATH( path );
			ALLOC_PATH( path );
			out code( buf );
			alloc( buf, STAT_SIZE );
		}

		int stat( const char *path, struct stat *buf )
		{
			SEND_PATH( path );
			ALLOC_PATH( path );
			out code( buf );
			alloc( buf, STAT_SIZE );
		}

		int mknod( const char *path, mode_t mode, dev_t device ) {
			SEND_PATH( path );
			ALLOC_PATH( path );
		}
	#endif

	int flock( int fd, int op ) : map;

	#if defined(IRIX) || defined(Solaris)
		int fstatfs( int fd, struct statfs *buf, int len, int fstyp ) : map {
	#else
		int fstatfs( int fd, struct statfs *buf ) : map {
	#endif

			out code( buf );
			alloc( buf, STATFS_SIZE );
		}

	int fsync( int fd ) : map;
	int fdsync( int fd ) : map, map_name(fsync), remote_name(fsync);
	int fdatasync( int fd ) : map, map_name(fsync), remote_name(fsync);

	#if defined(HPUX) || defined(OSF1)
		int getdirentries( int fd, struct dirent *buf, size_t nbytes, off_t *basep ) : map
		{
			out code_bytes_bool( buf, rval );
			in code_bytes_bool( basep, EIGHT );
			out code_bytes_bool( basep, EIGHT );
			alloc( buf, nbytes );
			alloc( basep, LONG_SIZE );
		}
	#else 
		int getdents( int fd, struct dirent *buf, size_t nbytes ) : map
		{
			out code_bytes_bool( buf, nbytes );
			alloc( buf, nbytes );
		}
	#endif

	#if defined( LINUX )
		int ftruncate( int fd, size_t length ) : map;
	#else 
		int ftruncate( int fd, off_t length ) : map ;
	#endif

/* If we are building the ckpt library, do not build any other switches  */

#if !defined(SWITCH) && !defined(CLIP)

	/* Do not generate switches for these pseudo calls */

	int lseekread( int fd, off_t offset, int whence, void *buf, size_t len ) : pseudo {
		out code_bytes_bool( buf, len );
		alloc( buf, len );
	}

        int lseekwrite( int fd, off_t offset, int whence, const void *buf, size_t len ) : pseudo {
		in code_bytes_bool( buf, len );
		alloc( buf, len );
        }

#ifdef CARMI_OPS

#define RequestId int
#define ResponseTag int
#define HostId int
#define ProcessId int
#define ResourceClass char* /* for the time being */

	int carmi_cancel_request(RequestId id, ResponseTag resp_tag) : pseudo; 

	int carmi_config( ResponseTag resp_tag)	: pseudo; 

	int carmi_get_class_ad(HostId id, ResponseTag resp_tag) : pseudo; 

	int carmi_addhosts(char *class_name, int count, ResponseTag resp_tag) 
		: pseudo {
		SEND_PATH( class_name );
		ALLOC_PATH( class_name );
	}

	int carmi_delhosts(int count, HostId* hosts, ResponseTag resp_tag) 
		:pseudo {
		in code_bytes_bool( hosts, count*sizeof(HostId) );
		alloc( hosts, count*sizeof(HostId) );
	}	

	int carmi_add_notify(char *class_name, ResponseTag resp_tag) :pseudo{
		SEND_PATH( class_name );
		ALLOC_PATH( class_name );
	}

	int carmi_delete_notify(int count, HostId *host_ids, 
                                ResponseTag resp_tag): pseudo {
		in code_bytes_bool( host_ids, count*sizeof(HostId) );
		alloc( host_ids, count*sizeof(HostId) );
	}

	int carmi_suspend_notify(int count, HostId *host_ids,
                                 ResponseTag resp_tag) : pseudo {
		in code_bytes_bool( host_ids, count*sizeof(HostId) );
		alloc( host_ids, count*sizeof(HostId) );
	}

	int carmi_resume_notify(int count, HostId *host_ids,
			ResponseTag resp_tag)  : pseudo{
		in code_bytes_bool( host_ids, count*sizeof(HostId) );
		alloc( host_ids, count*sizeof(HostId) );
	}

	int carmi_class_spawn(char *executable, char* argv[], char *class_name,
		  ResponseTag resp_tag) : pseudo {
		SEND_PATH( executable );
		ALLOC_PATH( executable );
		SEND_PATH( class_name );
		ALLOC_PATH( class_name );
	}

	int carmi_process_info( ResponseTag resp_tag) : pseudo; 

	int carmi_class_definitions( ResponseTag resp_tag) : pseudo; 

	int carmi_define_class( rcclass resc_class, 
				ResponseTag resp_tag) : pseudo {
	}

	int carmi_remove_class( char *class_name, 
                                ResponseTag resp_tag) : pseudo{
		SEND_PATH( class_name );
		ALLOC_PATH( class_name );
	}

	int carmi_ckpt(int ckpt_cnt, ProcessId *ckpt_list, 
	   int consistent_cnt, ProcessId *consistent_list, int flush_cnt, 
	   ProcessId *flush_list, HostId id) : pseudo{

		in code_bytes_bool( ckpt_list, ckpt_cnt*sizeof(ProcessId) );
		alloc( ckpt_list, ckpt_cnt*sizeof(ProcessId) );

		in code_bytes_bool( consistent_list, consistent_cnt*sizeof(ProcessId) );
		alloc( consistent_list, consistent_cnt*sizeof(ProcessId) );

		in code_bytes_bool( flush_list, flush_cnt*sizeof(ProcessId) );
		alloc( flush_list, flush_cnt*sizeof(ProcessId) );

	}

	int carmi_restart(int restart_cnt, ProcessId *restart_list, 
	  int consistent_cnt, ProcessId *consistent_list): pseudo {

		in code_bytes_bool( restart_list, restart_cnt*sizeof(ProcessId) );
		alloc( restart_list, restart_cnt*sizeof(ProcessId) );

		in code_bytes_bool( consistent_list, consistent_cnt*sizeof(ProcessId) );
		alloc( consistent_list, consistent_cnt*sizeof(ProcessId) );

	}

	int carmi_migrate(ProcessId target, HostId host, int
	  consistent_cnt, ProcessId *consistent_list): pseudo {

		in code_bytes_bool( consistent_list, consistent_cnt*sizeof(ProcessId) );
		alloc( consistent_list, consistent_cnt*sizeof(ProcessId) );

	}
#endif /* CARMI_OPS */

#endif	/* not SWITCH and not CLIP */

#if !defined(SWITCH)
/* No switches for pseudo_syscalls */
	int register_afs_cell( const char *cell ) : pseudo {
		SEND_PATH( cell );
		ALLOC_PATH( cell );
	}
	int register_fs_domain( const char *domain ) : pseudo {
		SEND_PATH( domain );
		ALLOC_PATH( domain );
	}
	int register_uid_domain( const char *domain ) : pseudo {
		SEND_PATH( domain );
		ALLOC_PATH( domain );
	}
#endif /* !defined(SWITCH) */

#if !defined( CLIP )
	int link( const char *p1, const char *p2 ) {
		SEND_PATH( p1 );
		SEND_PATH( p2 );
		ALLOC_PATH( p1 );
		ALLOC_PATH( p2 );
	}

	int access( const char *path, int access_mode ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}

		/*
		These get special treatment by the shadow, but should work normally
		in local mode.
		*/
	pid_t getppid() : EXTRACT, pseudo;
	uid_t getuid()  : pseudo;
	gid_t getgid()  : pseudo;
	pid_t getpid()  : pseudo;
	
	/*
	getlogin() returns a pointer to a static buffer - our generator is not
	quite yet sophisticated enough to generate correct stubs for this.
	So we have a special switch for it in switches.special.c that
	allocates the static space for it.
	Furthermore, we make it pseudo cuz we want the shadow to return the
	job's Owner as the value.  -Todd , 4/97
	*/
#if !defined(SWITCH)
	int getlogin( char *loginbuf ) : pseudo {
		out code( loginbuf );
		alloc ( loginbuf, _POSIX_PATH_MAX );
	}  
#endif  /* not SWITCH for getlogin() */

#endif /* not CLIP */

	/*
	  These are used by the condor_starter, and thus get generated even in
	  the "clipped" version.
	*/

	uid_t geteuid() : EXTRACT, pseudo;
	gid_t getegid() : EXTRACT, pseudo;

#if !defined(SWITCH)
	char * getwd( char *path_name ) : pseudo {
		GET_PATH( path_name );
		ALLOC_PATH( path_name );
	}
#endif

/*
File system calls which involve names but not fds are
not interpreted by the open file table.
*/

int chdir( const char *path ) : pseudo {
	SEND_PATH( path );
	ALLOC_PATH( path );
}

int unlink( const char *path ) {
	SEND_PATH( path );
	ALLOC_PATH( path );
}
int rename( const char *from, const char *to ) : pseudo {
	SEND_PATH( from );
	SEND_PATH( to );
	ALLOC_PATH( from );
	ALLOC_PATH( to );
}

#if !defined( SWITCH )
		/*
		These are speical operations performed by the shadow, but have
		no meaning in local mode.  Since they are special Condor operations,
		they are generally used by Condor daemons, not user programs.  Thus,
		they should be built in the special "clipped" version.
		*/
	int get_universe( int *univ_id ) : pseudo {
	    out code( univ_id );
	    alloc( univ_id, INT_SIZE );
	}

	int get_username( char *uname ) : pseudo {
	    GET_PATH( uname );
	    ALLOC_PATH( uname );
	}
	
	int extern_name( const char *path, char *buf, int bufsize ) : pseudo {
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code_bytes_bool( buf, bufsize );
		alloc( buf, bufsize );
	}
	int free_fs_blocks( const char *pathname ) : pseudo {
		SEND_PATH( pathname );
		ALLOC_PATH( pathname );
	}
	int reallyexit( int *status, struct rusage *use_p ) : pseudo {
		in code( status );
		alloc( status, INT_SIZE );
		in code( use_p );
		alloc( use_p, RUSAGE_SIZE );
		return( NEG_ONE );
	}
	int subproc_status(int id,int *status,struct rusage *use_p) : pseudo {
		in code( status );
		alloc( status, INT_SIZE );
		in code( use_p );
		alloc( use_p, RUSAGE_SIZE );
		return( NEG_ONE );
	}
	int image_size( int kbytes ) : pseudo;
	int send_rusage( struct rusage *use_p ) : pseudo {
		in code( use_p );
		alloc( use_p, RUSAGE_SIZE );
	}
	int getrusage( int who, struct rusage *use_p ) : pseudo {
		out code( use_p );
		alloc( use_p, RUSAGE_SIZE );
	}
	int perm_error( const char *msg ) : pseudo {
		in code( msg );
		alloc( msg, MAX_STRING );
	}
#ifndef RECEIVER  /* We need a special receiver so that we don't leak memory */
	int startup_info_request( STARTUP_INFO *s ): pseudo {
		out code( s );
		alloc( s, STARTUP_INFO_SIZE );
	}
#endif
	int std_file_info( int which, char *name, int *pipe_fd ) : pseudo {
		GET_PATH( name );
		ALLOC_PATH( name );
		out code( pipe_fd );
		alloc( pipe_fd, INT_SIZE );
	}
	int file_info( const char *name, int *pipe_fd, char *extern_path ): pseudo {
		SEND_PATH( name );
		ALLOC_PATH( name );
		GET_PATH( extern_path );
		ALLOC_PATH( extern_path );
		out code( pipe_fd );
		alloc( pipe_fd, INT_SIZE );
	}

	int get_buffer_info( int *blocks, int *block_size, int *prefetch_bytes ) : pseudo {
		out code( blocks );
		alloc( blocks, INT_SIZE );
		out code( block_size );
		alloc( block_size, INT_SIZE );
		out code( prefetch_bytes );
		alloc( prefetch_bytes, INT_SIZE );
	}

	int get_iwd( char *path ) : pseudo {
		GET_PATH( path );
		ALLOC_PATH( path );
	}

	int get_ckpt_name( char *path ) : pseudo {
		GET_PATH( path );
		ALLOC_PATH( path );
	}

	int get_ckpt_mode( signal_t sig ) : pseudo;

	int get_ckpt_speed( ) : pseudo;

	int get_a_out_name( char *path ) : pseudo {
		GET_PATH( path );
		ALLOC_PATH( path );
	}


#if !defined (SWITCH)
	int pvm_info( const char *response, int mytid ) : pseudo {
		SEND_PATH( response );
		ALLOC_PATH( response );
	}

    int pvm_task_info( int v_pid, int pvm_tid) : pseudo;

    int suspended( int susp ) : pseudo;
#endif
		/*
		This function is intended for setting up the transfer
		of a whole file via a TCP stream.  This allows more
		flexibility than the similar get_file() protocol, and may
		be more efficient as well, since we bypass XDR.  The name
		of the file is the single parameter sent to the shadow, and
		the result is the length of the file, a hostname, and a port
		number from which the actual bytes can be read.
		*/
	int get_file_stream( const char *file, size_t *len, unsigned int *ip_addr,
		u_short *port_num ): pseudo {

		SEND_PATH( file );
		ALLOC_PATH( file );

		out code( len );
		alloc( len, SIZE_T_SIZE );

		out code( ip_addr );
		alloc( ip_addr, U_INT_SIZE );

		out code( port_num );
		alloc( port_num, U_SHORT_SIZE );
	}

		/*
		This function is intended for setting up the transfer
		of a whole file via a TCP stream.  This allows more
		flexibility than the similar put_file() protocol, and may
		be more efficient as well, since we bypass XDR.  The name
		of the file is the single parameter sent to the shadow, and
		the result is a hostname and a port number to which the
		actual bytes can be written.
		*/
	int put_file_stream( const char *file, size_t len,
						unsigned int *ip_addr, u_short *port_num ): pseudo {

		SEND_PATH( file );
		ALLOC_PATH( file );

		out code( ip_addr );
		alloc( ip_addr, U_INT_SIZE );

		out code( port_num );
		alloc( port_num, U_SHORT_SIZE );
	}

	int choose_ckpt_server( const char *host ): pseudo {
		SEND_PATH( host );
		ALLOC_PATH( host );
	}

	int register_arch( const char *arch ): pseudo {
		SEND_PATH( arch );
		ALLOC_PATH( arch );
	}

	int register_opsys( const char *opsys ): pseudo {
		SEND_PATH( opsys );
		ALLOC_PATH( opsys );
	}

#	if !defined( SENDER )
		/*
		These two functions implement protocols for sending and fetching
		whole files at a time.  Since there is a more complex protocol
		involved, it's easier to just code the senders by hand.
		They are implemented in "senders.epilogue".
		*/
	int send_file( const char *name, mode_t mode ) : pseudo {
		SEND_PATH( name );
		ALLOC_PATH( name );
	}
	int get_file( const char *name ) : pseudo {
		SEND_PATH( name );
		ALLOC_PATH( name );
	}

#	endif	/* not SENDER */
#endif	/* not SWITCH */


#if !defined( CLIP )

	/* Stat and friends have special switches in Linux */

#if HAS_64BIT_SYSCALLS
		/* 64-bit versions of various syscalls.  
		   Added on 6/24/98 by Derek Wright */ 

	int stat64( const char *path, struct stat64 *buf ) { 
			SEND_PATH( path );
			ALLOC_PATH( path );
			out code( buf );
			alloc( buf, STAT64_SIZE );
	}

	int lstat64( const char *path, struct stat64 *buf ) { 
			SEND_PATH( path );
			ALLOC_PATH( path );
			out code( buf );
			alloc( buf, STAT64_SIZE );
	}

#endif /* HAS_64BIT_SYSCALLS */

	int chmod( const char *path, mode_t mode ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
#if !defined(Solaris) && !defined(LINUX) && !defined(IRIX62) && !defined(HPUX)
		int getfsstat( struct statfs buf[], long bufsize, int flags ) {
			out code_bytes_bool( buf, STATFS_ARRAY_SIZE );
			alloc( buf, bufsize );
		}
#endif

#if !defined( SWITCH )
	#if defined(LINUX)
		int sync();
	#else
		void sync();
	#endif
#endif /* ! SWITCH */

	int symlink( const char *path1, const char *path2 ) {
		SEND_PATH( path1 );
		SEND_PATH( path2 );
		ALLOC_PATH( path1 );
		ALLOC_PATH( path2 );
	}

#if defined(LINUX) || defined(Solaris26) || defined(OSF1) || defined(HPUX)
	int readlink( const char *path, char *buf, size_t buf_size ) {
#elif defined(IRIX62)
	int readlink( const char *path, char *buf, int buf_size ) {
#else
	int readlink( const char *path, void *buf, int buf_size ) {
#endif
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code_bytes_bool( buf, buf_size );
		alloc( buf, buf_size );
	}

	pid_t getpgrp();
	mode_t umask( mode_t cmask );
	int getpagesize();

	int getgroups( int gidsetsize, gid_t grouplist[] ) {
		out code_bytes_bool( grouplist, gidsetsize * GID_T_SIZE );
		alloc( grouplist, gidsetsize * GID_T_SIZE );
	}


#if !defined(Solaris) && !defined(LINUX) && !defined(IRIX62) && !defined(HPUX)
	int table( int id, int index, char *addr, int nel, unsigned int lel ) {
		out code_bytes_bool( addr, nel * lel );
		alloc( addr, nel * lel );
	}
#endif

#if defined(LINUX) || defined(OSF1)
	int gethostname( char *address, size_t address_len ) {
#else 
	int gethostname( char *address, int address_len ) {
#endif
		out code_bytes_bool( address, address_len );
		alloc( address, address_len );
	}
	int getdtablesize();

	not_supported {
		int select(int numfds, fd_set *readfds, fd_set *writefds,
			fd_set *exceptfds, struct timeval *timeout);
		int poll(struct pollfd *p, unsigned long l , int i );
	}

	int setpriority( int which, int who, int priority );
	int getpriority( int which, int who );

#if defined(LINUX)
	int gettimeofday( struct timeval *tp, struct timezone *tzp ) {
		out code( tp );
#else
	int gettimeofday( struct timeval *tp, void *tzp ) {
		out code( tp );
#endif
		/* don't code( tzp ) since it is often a NULL pointer */
		alloc( tp, TIMEVAL_SIZE );
		alloc( tzp, TIMEZONE_SIZE );
	}
#	if !defined(LINUX)
		int lchown( const char *path, uid_t owner, gid_t group ) {
			SEND_PATH( path );
			ALLOC_PATH( path );
		}
#	endif
	int chown( const char *path, uid_t owner, gid_t group ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}

#if defined(LINUX)
	int truncate( const char *path, size_t length ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
#elif defined(Solaris) 
	int truncate( const char *path, off_t length ) : extract {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
#else
	int truncate( const char *path, off_t length ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
#endif /* ! LINUX */


	int mkdir( const char *path, mode_t mode ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
	int rmdir( const char *path ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
	}
	#if defined(OSF1)
	int utimes( const char *path, const struct timeval *times ) {
	#else
	int utimes( const char *path, struct timeval *times ) {
	#endif
		SEND_PATH( path );
		ALLOC_PATH( path );
		in code_bytes_bool( times, TIMEVAL_ARRAY_SIZE );
		alloc( times, TIMEVAL_ARRAY_SIZE );
	}
#if defined(HPUX10) || defined(OSF1)
	long gethostid();
#else
	int gethostid();
#endif
#if defined(HPUX) || defined(LINUX) || defined(Solaris) || defined(IRIX)
	int setrlimit( int resource, const  struct rlimit *rlp ) {
#else
	int setrlimit( int resource, struct rlimit *rlp ) {
#endif
		in code( rlp );
		alloc( rlp, RLIMIT_SIZE );
	}
	int getrlimit( int resource, struct rlimit *rlp ) {
		out code( rlp );
		alloc( rlp, RLIMIT_SIZE );
	}

#if HAS_64BIT_SYSCALLS
	int setrlimit64( int resource, const  struct rlimit64 *rlp ) {
		in code( rlp );
		alloc( rlp, RLIMIT64_SIZE );
	}
	int getrlimit64( int resource, struct rlimit64 *rlp ) {
		out code( rlp );
		alloc( rlp, RLIMIT64_SIZE );
	}
#endif

#if defined(HPUX)
	int statfs( const char *path, struct statfs *buf ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code( buf );
		alloc( buf, STATFS_SIZE );
	}
#elif defined(LINUX)
	#if !defined(SWITCH)
	/* Special switch needed for stat and friends. */
	int statfs( const char *path, struct statfs *buf ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code( buf );
		alloc( buf, STATFS_SIZE );
	}
	#endif
#elif defined(Solaris)
	not_supported {
		int statfs( const char *path, struct statfs *buf, int len, int x ) ;
	}
#elif defined(IRIX)
	int statfs( const char *path, struct statfs *buf, int len, int fstyp ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code( buf );
		alloc( buf, STATFS_SIZE );
	}
#else
	int statfs( char *path, struct statfs *buf, int len ) {
		SEND_PATH( path );
		ALLOC_PATH( path );
		out code( buf );
		alloc( buf, STATFS_SIZE );
	}
#endif
	int getdomainname( char *name, int namelen ) {
		out code( name, namelen );
		alloc( name, namelen );
	}

#if defined(OSF1)
		int getaddressconf( struct addressconf *buf, size_t length ) {
			out code_bytes_bool( buf, length );
			alloc( buf, length );
		}
#endif
		pid_t getpgid( pid_t pid );
#if defined(Solaris) || defined(LINUX) || defined(IRIX62) || defined(HPUX)
	not_supported { 
		int mvalid( char * addr, size_t len, int prot ) {
			out code_bytes_bool( addr, len );
			alloc( addr, len );
		}

		int uswitch( int cmd, int value );
	}
#else
		int mvalid( char * addr, size_t len, int prot ) {
			out code_bytes_bool( addr, len );
			alloc( addr, len );
		}

		int uswitch( int cmd, int value );
#endif /* Solaris || Linux || IRIX62 */

		/*
		Things having to do with signals - we may support these
		one day soon.  ...and now we do on some platforms -Todd 1/95 
		*/
	not_supported {

#if !defined(SAVE_SIGSTATE)

#if defined(LINUX)
#define SIG_CONST
#else 
#define SIG_CONST const
#endif

	int sigprocmask( int how, SIG_CONST sigset_t *set, sigset_t *o_set );
	int sigsuspend( SIG_CONST sigset_t *mask );
	int sigpending( sigset_t *set );
	int sigstack( struct sigstack *instack, struct sigstack *outstack );

#	if !defined(LINUX)
		int sigreturn( struct sigcontext *scp );
#	endif

#endif  /* of !defined(SAVE_SIGSTATE) */


#if	defined(LINUX) || defined(Solaris251) || defined(HPUX) || defined(OSF1)
		int setitimer( int which, const struct itimerval *value,
				struct itimerval *oval );
#else
	int setitimer( int which, struct itimerval *value, struct itimerval *oval );
#endif
	int getitimer( int which, struct itimerval *value );
	}

	/*
	We don't support these everywhere, but we ignore attempts to do them remotely
	for the benefit of Fortran compilers...
	*/
	ignored {
#	if !defined (SAVE_SIGSTATE)
#	    if defined(LINUX)
		int sigaction( int sig, struct sigaction *act,
				struct sigaction *o_act ) : extract;
#	    else
		int sigaction( int sig, const struct sigaction *act,
						struct sigaction *o_act ) : EXTRACT;
#	    endif
#	endif
		int setsysinfo( unsigned long op, char *buffer, unsigned long nbytes,
						char * arg, unsigned long flag );
	}

#endif /* not CLIP */

	/*
	Things having to do with memory mapped files - we may support these
	one day soon.

	Don't trap munmap(), we want that to always go locally. 
	  -Derek Wright, 3/12/98 
	*/
not_supported {
	#if defined(OSF1)
		void * mmap( void * a, size_t l, int p, int f, int fd, off_t o );
		int mprotect( void * addr, size_t len, int prot );
		int madvise( void * addr, size_t len, int behav );
		int msync( void * addr, size_t len, int flags );
	#elif defined(HPUX)
		void * mmap( void * a, size_t l, int p, int f, int fd, off_t o );
		int mprotect( void * addr, size_t len, int prot );
		int madvise( void * addr, size_t len, int behav );
		int msync( void * addr, size_t len, int flags );
	#elif defined(LINUX) || defined(IRIX) || defined(Solaris)
		#if defined(LINUX) && defined(SWITCH)
			/* Skip mmap on linux -- it is a special switch */
		#else
			void * mmap (void * addr, size_t len, int prot, int flags, int fd, off_t off) : EXTRACT;
		#endif
		int mprotect(const void * addr, size_t len, int prot);
		int msync (void * addr, size_t len, int flags);
	#endif
}
#if HAS_64BIT_SYSCALLS
    not_supported {
	caddr_t mmap64( caddr_t addr, size_t len, int prot, int flags,
					int fildes, off64_t off);
	}
#endif


/* 
   We want stubs for kill(), we just don't want a switch, since we
   define our own switch for it in switches.special.c. 
   -Derek Wright 7/8/98 

   We actually don't want stubs for kill(), either, since the switch
   for kill() never sends it remotely (as it shouldn't), and the stubs
   only open the shadow() up to nasty security problems if someone
   gains unauthorized access to the shadow.  So, we just have no
   mention of kill here and leave our switch in switches.special.c 
   -Derek 7/10/98
*/


#if !defined( CLIP )
	/* Calls intended only for the super user or system managers */
not_supported {
	int setuid( uid_t uid );
	int setgid( gid_t gid );
	int setreuid( uid_t ruid, uid_t euid );
	int setregid( gid_t rgid, gid_t egid );
	int setlogin( char *name );
	int revoke( char *path );
	int chroot( const char *path );
#if defined(Solaris)
	int setgroups( int gidsetsize, const gid_t grouplist[] );
#else
	int setgroups( int gidsetsize, gid_t grouplist[] );
#endif
	int plock( int op );
#if defined(HPUX10)
	int adjtime( const struct timeval *delta, struct timeval *old_delta );
#else
	int adjtime( struct timeval *delta, struct timeval *old_delta );
#endif
	int sethostid( int host_id );

#if defined(HPUX)
	void async_daemon();
	int nfssvc(int sock);
#else
	int async_daemon();
	int nfssvc(int a, int b, int c );
#endif

#if defined(IRIX)
	/* nothing */
#elif defined(HPUX)
	int getfh( int fd, const fhandle_t *fhp );
#else
	int getfh( int fd, fhandle_t *fhp, int exp_fd );
#endif

#if !defined(HPUX)
	int exportfs( int access, int *record, struct exportfsdata *exdata );
#endif

#if defined(LINUX)
	int mount( const char *spec, const char *dir, const char *fstyp,
		unsigned long rwflag, const void *data );
	int umount( const char* dir );
	int acct( const char *path );
	int reboot( int magic, int magic_too, int flag );
	int sethostname( const char *address, size_t address_len );
	int settimeofday( const struct timeval *tp, const struct timezone *tzp );
	int setdomainname( const char *name, size_t namelen );
	int swapon( const char *path, int swapflags );
	int swapoff( const char *path );
	int bdflush( int func, long data );
	caddr_t create_module( const char* name, size_t size );
	caddr_t delete_module( const char* name ); 
	int init_module( const char* name, struct module* image ); 
	int iopl( int level );
	void idle();
	int ioperm( unsigned long from, unsigned long num, int turn_on );
#else
	#if defined(Solaris)
		int mount( const char *spec, const char *dir, int mflag, int fstyp, char *pt, int len );
		int acct( const char *path );
	#elif defined(OSF1)
		int mount( int type, char *mnt_path, int mnt_flag, char *data );
		int acct( char *path );
	#elif defined(HPUX)
		/* need varargs here */
		/* int mount( const char *spec, const char *dir, int mflag, int fstyp, char *pt, int len ); */
		int acct( char *path );
	#else
		int mount( char *spec, char *dir, int mflag, int fstyp, char *pt, int len );
		int acct( char *path );
	#endif

	void reboot( int howto );
	int sethostname( char *address, int address_len );
	#if defined(HPUX)
		int settimeofday( const struct timeval *tp, const struct timezone *tzp );
		int setdomainname( const char *name, int namelen );
	#else
		int settimeofday( struct timeval *tp, struct timezone *tzp );
		int setdomainname( char *name, int namelen );
	#endif

	/* Need varargs for this */
	/* int swapon( char *path, int flags, int lo_water, int hi_water ); */

#endif  /* of not LINUX */

} /* of not_supported { (Must be after the #endif Linux - Derek) */


	/* Calls having to do with multiple process jobs */
not_supported {
	pid_t fork() : EXTRACT;
	int pipe( int fd[] ) : EXTRACT;
	/* Other fork()-like calls */
#if defined(LINUX)
	pid_t clone(void *sp, unsigned long flags);
#elif defined(Solaris)
	pid_t fork1();
#endif
	pid_t vfork();

	int execve( const char *path, char * const argv[], char * const envp [] );
	int execv( const char *path, char * const argv[] );
	int exec_with_loader( int flags, const char *loader, const char *file,
					  char * const argv[], char * const envp[] );
	int execvp( const char *file, char *const argv[] );

	pid_t wait4( pid_t pid, void *status, int options, struct rusage *ru );
	pid_t wait(int *status);
#if defined(LINUX)
	pid_t waitpid(pid_t pid, int *status, int options);
#endif

#if defined(Solaris)
	int ptrace( int req, long process, int address, int data);
#else
	int ptrace( long req, long int process, unsigned long *address,
						unsigned long data );
#endif
	int setpgid( pid_t process_id, pid_t gid );
	pid_t setsid();
#if defined(OSF1)
	int setpgrp( pid_t process_id , pid_t process_group_id );
#else 
	pid_t setpgrp( );
#endif
}

not_supported {

	/* After struggling to get all the details right on these calls:
	   void * vs sockaddr*, const vs non const, signed vs unsigned,
	   I just gave up and copied all the headers from /usr/include/sys/socket.h
	   on the appropriate platform.  It may be a little bigger, but this was
	   very easy to generate and get right. */

	#if defined(OSF1)

		int      accept          (int a, struct sockaddr * b, int *c);
		int      bind            (int a, const struct sockaddr * b, int c);
		int      connect         (int a, const struct sockaddr * b, int c);
		int      getpeername     (int a, struct sockaddr * b, int * c);
		int      getsockname     (int a, struct sockaddr * b, int * c);
		int      getsockopt      (int a, int b, int c, void * d, int * e);
		int      listen          (int a, int b);
		int      recv            (int a, void * b, int c, int d);
		int      recvfrom        (int a, void * b, int c, int d, struct sockaddr *e, int *f);
		int      recvmsg         (int a, struct msghdr *b, int c);
		int      send            (int a, const void * b, int c, int d);
		int      sendmsg         (int a, struct msghdr * b, int c);
		int      sendto          (int a, const void * b, int c, int d, const struct sockaddr * e, int f);
		int      setsockopt      (int a, int b, int c, const void *d, int e);
		int      shutdown        (int a, int b);
		int      socket          (int a, int b, int c);
		int      socketpair      (int a, int b, int c, int *d);

	#elif defined(Solaris)
		int	accept		(int a, struct sockaddr *b, int *c);
		int	bind		(int a, const struct sockaddr *b, int c);
		int	connect		(int a, struct sockaddr *b, int c);
		int	getpeername	(int a, struct sockaddr *b, int *c);
		int	getsockname	(int a, struct sockaddr *b, int *c);
		int	getsockopt	(int a, int b, int c, char *d, int *e);
		int	listen		(int a, int b);
		int	recv		(int a, char *b, int c, int d);
		int	recvfrom	(int a, char *b, int c, int d, struct sockaddr * e, int *f);
		int	recvmsg		(int a, struct msghdr *b, int c);
		int	send		(int a, const char *b, int c, int d);
		int	sendmsg		(int a, const struct msghdr *b, int c);
		int	sendto		(int a, const char *b, int c, int d, const struct sockaddr *e, int f);
		int	setsockopt	(int a, int b, int c, const char * d, int e);
		int	shutdown	(int a, int b);
		int	socket		(int a, int b, int c);
		int	socketpair	(int a, int b, int c, int *d);

	#elif defined(HPUX)

 		int accept(int s, struct sockaddr *a, size_t *l);
 		int bind(int s, const struct sockaddr *a, size_t l);
 		int connect(int s, const struct sockaddr *a, size_t l);
 		int getpeername(int s, struct sockaddr *a, size_t *l);
 		int getsockname(int s, struct sockaddr *a, size_t *l);
 		int getsockopt(int s, int x, int y, void *o, size_t *l);
 		int listen(int s, int p);
 		ssize_t recv(int s, void *d, size_t l, int t);
 		ssize_t recvfrom(int s, void *d, size_t l, int t, struct sockaddr *a, size_t *n);
 		ssize_t recvmsg(int s, struct msghdr *h, int l);
 		ssize_t send(int s, const void *d, size_t l, int x);
 		ssize_t sendmsg(int s, const struct msghdr *h, int x);
 		ssize_t sendto(int s, const void *d, size_t l, int x, const struct sockaddr *a, size_t n);
 		int setsockopt(int a, int b, int c, const void *d, size_t l);
 		int shutdown(int a, int b);
 		int socket(int a, int b, int c);
 		int socketpair(int a, int b, int c, int *d);

	#elif defined(IRIX) || defined(LINUX)

		int accept(int a, void *b, int *c);
		int bind(int a, const void *b, int c);
		int connect(int a, const void *b, int c);
		int getpeername(int a, void *b, int *c);
		int getsockname(int a, void *b, int *c);
		int getsockopt(int a, int b, int c, void *d, int *e);
		int setsockopt(int a, int b, int c, const void *d, int e);
		int listen(int a, int b);
		int recv(int a, void *b, int c, int d);
		int recvfrom(int a, void *b, int c, int d, void *e, int *f);
		int recvmsg(int a, struct msghdr *b, int c);
		int send(int a, const void *b, int c, int d);
		int sendto(int a, const void * b, int c, int d, const void *e, int f);
		int sendmsg(int a, const struct msghdr *b, int c);
		int shutdown(int a, int b);
		int socket(int a, int b, int c);
		int socketpair(int a, int b, int c, int *d);

	#endif
}


	/*
	Things we perhaps ought to support, but aren't in the
	current implementation
	*/
not_supported {
	#if defined(LINUX)
		int profil( char *buf, int buf_size, int offset, int scale );
	#elif defined(Solaris)
		void profil( unsigned short *buf, unsigned int buf_size, int offset, unsigned int scale);
	#elif defined(HPUX)
		void profil( const void *buf, unsigned int buf_size, unsigned int offset, int scale );
	#else
		void profil( short *buf, unsigned int buf_size, unsigned int offset, unsigned int scale );
	#endif

	int quotactl( char *path, int cmd, int id, char *addr );
	int getsysinfo( unsigned long op, char * buf, unsigned long nbytes, int *start, char *arg );
}


	/*
	Stuff having to do with message queues.  Probably won't support
	these unless they become a standard across all the platforms.
	*/
not_supported {
	int msgctl( int msgid, int cmd, struct msqid_ds *buf );
	int msgget( key_t key, int msgflg );
	int msgrcv(int qid, void *msgp, size_t msgsz, long msgtyp, int msgflg );
	int msgsnd( int msqid, void *msgp, size_t msgsz, int msgflg );
}

	/*
	Stuff having to do with semaphores.  Probably won't support
	these unless they become a standard across all the platforms.
	*/
not_supported {
	int semctl( int semid, int semnum, int cmd, void *arg );
	int semget( key_t key, int nsems, int semflag );
	int semop( int semid, struct sembuf *sops, unsigned int nsops );
}

	/* Stuff having to do with shared memory. */
not_supported {
	int shmctl( int shmid, int cmd, struct shmid_ds *buf );
	int shmdt( char * addr );
	int shmget( key_t key, size_t size, int flags );
	char * shmat( int shmid, char * shmaddr, int shmflg );
}

#endif /* not CLIP */

